@import 'abstracts/variables';
@import 'abstracts/mixins';

/* Text  */
h1, h2, h3, p {
	font-family: helvetica;
}
.title {
	color: white;
}
h1 {
	font-weight: bolder;
	font-size: 5em;
	line-height: 45px;
}
h2 {
	font-weight: lighter;
	font-size: 2em;
}
h3 {
	font-weight: bold;
	font-size: 0.75em;
	line-height: 45px;
}
h4 {
	font-weight: bold;
	font-size: 0.75rem;
	display: inline-block;
}
p, li {
	font-size: 0.75rem;
	list-style: linear-gradient(135deg, #ee7097 0%,#f5a54d 100%);
}
.disTxt{
	font-size: 0.90rem;
}
// @include horizontal-gradient(#EE7097 0%, #F5A54D, 100%)
.right {
	text-align: right;
}
.deskText {
	padding: 0 20px;
  .row{
    h4{
      padding-left: 40px;
    }
  }
}
/* custom styling */

body {
	background-image: $backmob;
	background-size: cover;
  background-repeat: no-repeat;

	width: 100%;
	height: 100%;
  @include breakpoint($md){
    background-image: $backdesk;
		background-size: auto;
    background-repeat: no-repeat;
  }
    .main-container {
    	background-color: transparent;
    	margin-top: 10%;
      @include breakpoint($md){
        background-color: $grey;
        padding: 5% 0;
      }
        /* row styling */
        .titleRow {
        	margin-top: 200px;
          .workLink {
          	padding-top: 40px;
          }
        }
        .row_movies {
        	margin-top: 250px;
          .accordion {
          	margin-top: 150px;
            /* card styling */
            .card {
            	background-color: transparent;
            	border: none;
              .desktopText{
                width: 90%;
                @include breakpoint($lg){
                  width: 80%;
                }
                @include breakpoint($xlg){
                  width: 79%;
                }
              }
              .card-img-top {
              	@include border-radius(18px 18px 0 0);
                @include breakpoint($md){
                  	@include border-radius(18px);
                }
              }
              .card-title {
              	width: 100%;
              	display: inline-block;
              	padding-top: 0;
              }
                .card-header {
                	background-color: white;
                	border: none;
                	padding-left: 0;
                	padding-right: 0;
                  @include breakpoint($sm){
                    display: visible;
                  }
                  @include breakpoint($md){
                    display: none;
                  }
                }
                .card-body {
                	background-color: white;
                	@include border-radius(0px 0px 18px 18px);
                  @include breakpoint($sm){
                    display: visible;
                  }
                  @include breakpoint($md){
                    display: none;
                  }
                }
              }
            }
            .itunes-buy{
              @include breakpoint($sm){
                position: relative;
              }
              @include breakpoint($md){
                position: unset;
              }
              .itunes-buy-logo {
            	   position: absolute;
            	    bottom: 0;
                  @include breakpoint($md){
                    position: unset;
                    margin-top:50px;
                    width: 100px;
                    height: auto;
                  }
                }
              }
          }
        }
        .row-footer {
          position: relative;
          height: 240px;
          margin-top: 50px;
          background-image: $backfooter;
          background-size: cover;
          background-repeat: no-repeat;
          @include breakpoint($md){
            height: 300px;
          }
          @include breakpoint($lg){
            height: 400px;
          }
          @include breakpoint($xlg){
            height: 450px;
          }
          @include breakpoint($xxlg){
            height: 500px;
          }
          .row{
            position: absolute;
            width: 100%;
            bottom: 20px;
          .logo{
            width: auto;
            height: 60px;
          }
          .name{
            position: relative;
          h4{
            position: absolute;
            color: white;
            bottom: 10px;
            }
          }
        }
      }
    }
.hiddenOnMob {
	display: none;
  @include breakpoint($md){
    display: block;
    .row{
      margin-top: 9%;

      }
    }
  }
.hideOnDesk{
  @include breakpoint($sm){
    display: block
  }
  @include breakpoint($md){
    display:none;
  }
}
/* image styling */
.stars {
	width: 72pt;
	height: 10pt;
	display: inline;
	@include breakpoint($md){
			margin-bottom: 25px;

	}
}
.titleKwab {
	display: none;
  @include breakpoint($md){
    display: inline;
    position: absolute;
    top: 70px;
    left: -30%;
    width: 101%;
    height: 140%;
  }
  @include breakpoint($xlg){
    top: 70px;

  }
  @include breakpointHeight(429px){
    top: 210px;
  }
  @include breakpointHeight(640px){
    top: 50px;
  }
  @include breakpointHeight(1000px){
    top: -191px;
  }
  @include breakpointHeight(1280px){
    top: -460px;
  }
  @include breakpointHeight(1700px){
    top: -700px;
  }
  @include breakpointHeight(2000px){
    top: -1010px;
  }
  @include breakpointHeight(2400px){
    top: -1200px;
  }
}
