//backgrounds
$backmob: url("../img/backmob.svg");
$backdesk: url("../img/backweb.svg");
$backfooter: url("../img/footer.svg");
//colors
$grey: #F5F5F5;

//breakpoints
$xs: 0;
$sm: 576px;
$md: 769px;
$lg: 992px;
$xlg: 1200px;
$xxlg: 1900px;
